
.user-card{
    border:2px solid black;
    padding:10px;
    margin:10px;
    max-width: 300px;
    text-align:center;
    box-shadow: 0cqb(0,0,10px,rgba(0,0,0,0.1));
    border-radius: 20px;
    background-color: #fffefd;


}
 
.user-card img{
    width:100px;
    height:100px;
    border-radius:50%;
}

.user-card button{
    padding:5px 10px;
    background-color:blue;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

